@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root{
    --cor-primaria: #201E43;
    --cor-secundaria: #508C9B;
    --cor-terciaria: #EEEEEE;
    --cor-hover: #134B70;

    --fonte-primaria:"Montserrat", sans-serif;;
    --fonte-secundaria:"Krona One", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 20%;
}

.cabecalho__menu{
    display: flex;
    gap: 65px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: --c;
    text-decoration: none;
    color: var(--cor-terciaria);
}

.apresentacao{
    display: flex;
    gap: 82px;
    align-items: center;
    justify-content: space-between;
    padding: 5% 20%;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-secundaria);
}

.titulo-destaque{
    color:var(--cor-terciaria);
}

.titulo-destaque:hover{
    color: var(--cor-hover);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__conteudo__links__subtitulo{
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__conteudo__links__link{
    display: flex;
    justify-content: center;
    gap: 16px;
    text-align: center;
    border: 2px solid  var(--cor-secundaria);
    width: 50%;
    padding: 21.5px 0px;
    border-radius: 8px;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);
    font-weight: 600;
}

.apresentacao__conteudo__links__link:hover{
    background-color: var(--cor-hover);
    width: 420px;
}

.apresentacao__foto{
    border-radius: 16px;
    width: 50%;
}

.rodape{
    color: var(--cor-terciaria);
    background-color: var(--cor-secundaria);
    padding: 10px;
    text-align: center;
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    font-weight: 400;
}

@media(max-width: 1200px){

    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: 105%;
    }

    .apresentacao__foto{
        width: 65%;
    }

}